@font-face {
font-family: "Confortaa Bold";
font-display: auto;
src: url("./Comfortaa/Comfortaa-Bold.ttf") format("truetype"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("truetype");
}
