* {
  font-family: "Confortaa Bold"; }

.navbg-panda-color {
  background-color: #61cd70; }
  .navbg-panda-color a {
    color: #fff;
    font-size: 1em; }

.nav-logo {
  float: left;
  height: 150px;
  width: 150px;
  background-color: #61cd70;
  padding: 5px;
  border-bottom-right-radius: 50%; }

.nav-tel-size {
  font-size: 0.7em !important;
  font-family: monospace; }

.fancy-bg {
  margin-left: 50px;
  padding: 0px;
  background: url("/img/cross-pattern.png") repeat; }

.white-bg {
  position: inherit;
  background-color: rgba(255, 255, 255, 0.4); }

.rounded-border-image {
  float: left;
  height: 170px;
  width: 170px;
  background-color: #61cd70;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.rounded-border-image-blue {
  float: left;
  height: 170px;
  width: 170px;
  background-color: blue;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.rounded-border-image-orange {
  float: left;
  height: 170px;
  width: 170px;
  background-color: orange;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.color-black {
  color: #000; }

.top-space {
  margin-top: 0px; }

.jumbotron {
  /* The image used */
  height: 100%;
  text-shadow: 1px 1px 3px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.jumbo-bg1 {
  background-image: url("../img/piqsels.com-id-jfsak.jpg"); }

.jumbo-bg2 {
  background-image: url("../img/pepsi-jumbo.jpg"); }

.jumbo-bg3 {
  background-image: url("../img/additions-jumbo.jpg"); }

.item {
  margin-bottom: 1em;
  background-color: #fafffa; }
  .item .input-group {
    padding-bottom: 1em; }
  .item p {
    font-size: 12px !important; }
