* {
  font-family: "Confortaa Bold"; }

h1, h2, h3 {
  font-size: 2em !important; }

h4 {
  font-size: 2em !important;
  color: white !important;
  background: white !important; }
  h4 p {
    color: white !important;
    background: white !important; }

.first-plane {
  z-index: 9999; }

.navbg-panda-color {
  background-color: #61cd70;
  left: 150px; }
  .navbg-panda-color a {
    left: 50%;
    width: 10em;
    color: #fff;
    font-size: 1em; }

.nav-logo {
  top: 0px;
  float: left;
  height: 150px;
  width: 150px;
  background-color: #61cd70;
  padding: 5px;
  border-bottom-right-radius: 50%;
  z-order: 99; }

.nav-tel-size {
  float: right;
  padding: 0px;
  margin: 0px;
  font-size: 0.7em !important;
  font-family: monospace; }

.fancy-bg {
  margin-left: 50px;
  padding: 0px;
  background: url("/img/cross-pattern.png") repeat; }

.white-bg {
  position: inherit;
  background-color: rgba(255, 255, 255, 0.4); }

.rounded-border-image {
  float: left;
  height: 170px;
  width: 170px;
  background-color: #61cd70;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.rounded-border-image-blue {
  float: left;
  height: 170px;
  width: 170px;
  background-color: blue;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.rounded-border-image-orange {
  float: left;
  height: 170px;
  width: 170px;
  background-color: orange;
  padding: 5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%; }

.color-black {
  color: #000; }

.top-space {
  margin-top: 0px; }

.jumbotron {
  /* The image used */
  height: 100%;
  text-shadow: 1px 1px 3px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.jumbo-bg1 {
  margin-top: 70px;
  background-image: url("../img/A-burger-section.jpg"); }

.jumbo-bg2 {
  background-image: url("../img/B-drinks-section.jpg"); }

.jumbo-bg3 {
  background-position: bottom 10px right;
  background-image: url("../img/C-additions-section.jpg"); }

.item {
  margin-bottom: 1em;
  background-color: #fafffa; }
  .item .input-group {
    padding-bottom: 1em; }
  .item p {
    font-size: 12px !important; }

#alive {
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  border: 5px solid red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 10; }

.anita-bar {
  top: 200px;
  height: 510px;
  border-top-right-radius: 45px !important;
  width: 310px;
  z-index: 9;
  border: 5px solid green; }
  .anita-bar .anita-chat {
    height: 500px;
    width: 300px; }

.anita-close {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  float: right;
  top: -20px;
  left: 280px;
  z-index: 10; }

@media only screen and (max-width: 1369px) {
  .anita-bar {
    top: 200px;
    height: 310px;
    border-top-right-radius: 45px !important;
    width: 210px;
    z-index: 9;
    border: 5px solid green; }
    .anita-bar .anita-chat {
      height: 300px;
      width: 200px; }
  .anita-close {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    float: right;
    top: -20px;
    left: 180px;
    z-index: 10; } }

.footer {
  text-align: center;
  height: 200px;
  width: 100%; }

.modal {
  z-index: 999999; }

.hf {
  display: none;
  visibility: hidden; }

.section404 {
  margin: auto;
  text-align: center; }
  .section404 p:first-child {
    margin-top: 60px;
    font-size: 8em; }
  .section404 p {
    text-align: center;
    font-size: 1em;
    color: #ad6336; }
  .section404 p:last-child {
    font-size: 2em;
    color: #61cd70; }

.section-social {
  margin: auto;
  padding-top: 100px;
  text-align: center;
  color: #61cd70; }
  .section-social img.spacer {
    height: 300px;
    width: 300px; }
  .section-social img {
    height: 150px;
    width: 150px; }
