$base-green-color:#2f913c;
$base-dark-green-color:#48803c;
$l-green-color:#61cd70;
$burger1-color:#f7c795;
$burger2-color:#eca75c;
$burger3-color:#d3954e;
$burger4-color:#c08345;
$cheese1-color:#ffca68;
$cheese2-color:#c69d4e;
$m1-color:#ad6336;
$m2-color:#81583b;
$ketchup:#f50020;

*{
  outline: 1px solid red;
  font-family: "Confortaa Bold";
}
.first-plane{
  z-index: 9999;
}
.navbg-panda-color{
  background-color: $l-green-color;
  left:150px;
  // background:url("/img/cross-pattern.png") repeat;
  a{
    left:50%;
    width: 10em;
    color: #fff;
    font-size: 1em;
  }
}
.nav-logo{
  top:0px;
  float:left;
  height: 150px;
  width: 150px;
  background-color: $l-green-color;
  // background:url("/img/cross-pattern.png") repeat;
  padding: 5px;
  border-bottom-right-radius: 50%;
  z-order:99;
}
.nav-tel-size{
  float:right;
  padding: 0px;
  margin: 0px;
  font-size: 0.7em!important;
  font-family: monospace;
}
.fancy-bg{
  margin-left: 50px;
  padding: 0px;
  // background: linear-gradient(90deg, rgba(255,255,255,1), rgba(0,255,0,0.1));
  background: url("/img/cross-pattern.png") repeat;
}
.white-bg{
  position: inherit;
  background-color: rgba(255,255,255,0.4);
}
.rounded-border-image{
  float:left;
  height: 170px;
  width: 170px;
  background-color: $l-green-color;
  padding:5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%;
}
.rounded-border-image-blue{
  float:left;
  height: 170px;
  width: 170px;
  background-color: blue;
  padding:5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%;
}
.rounded-border-image-orange{
  float:left;
  height: 170px;
  width: 170px;
  background-color: orange;
  padding:5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%;
}
.color-black{
  color: #000;
}
.top-space{
  // float: left;
  margin-top: 0px;
}
.jumbotron{
  /* The image used */
  height: 100%;
  text-shadow: 1px 1px 3px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-bg1{
  margin-top: 70px;
  background-image: url("../img/piqsels.com-id-jfsak.jpg");
}
.jumbo-bg2{
  background-image: url("../img/pepsi-jumbo.jpg");
}
.jumbo-bg3{
  background-image: url("../img/additions-jumbo.jpg");
}
.item{
  margin-bottom: 1em;
  background-color:#fafffa;
  .input-group{
    padding-bottom: 1em;
  }
  p{
    font-size: 12px!important;
  }
}
.anita-bar {
  top:200px;
  height:510px;
  border-top-right-radius: 20px;
  width: 310px;
  z-index: 9;
  border: 5px solid green;
}
.anita-close{
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  float:right;
  top: -20px;
  left:280px;;
  z-index: 10;
}
@media only screen and (max-width: 1369px) {
  .anita-bar {
    top:200px;
    height:310px;
    border-top-right-radius: 20px;
    width: 210px;
    z-index: 9;
    border: 5px solid green;
  }
  .anita-close{
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    float:right;
    top: -20px;
    left:180px;;
    z-index: 10;
  }
}
.footer{
  text-align: center;
  height: 300px;
  width: 100%;
}
