$base-green-color:#2f913c;
$base-dark-green-color:#48803c;
$l-green-color:#61cd70;
$burger1-color:#f7c795;
$burger2-color:#eca75c;
$burger3-color:#d3954e;
$burger4-color:#c08345;
$cheese1-color:#ffca68;
$cheese2-color:#c69d4e;
$m1-color:#ad6336;
$m2-color:#81583b;
$ketchup:#f50020;
*{
  outline: 1px solid red;
  font-family: "Confortaa Bold";
}
.navbg-panda-color{
  background-color: $l-green-color;
  a{
    color: #fff;
    font-size: 1em;
  }
}
.nav-logo{
  float:left;
  height: 150px;
  width: 150px;
  background-color: $l-green-color;
  padding: 5px;
  border-bottom-right-radius: 50%;
}
.rounded-border-image{
  float:left;
  height: 170px;
  width: 170px;
  background-color: $l-green-color;
  padding:5px;
  margin: 0px 20px 0px -10px;
  border-radius: 50%;
}
.color-black{
  color: #000;
}
.top-space{
  float: left;
  margin-top: 0px;
}
.jumbotron{
  /* The image used */
  background-image: url("../img/piqsels.com-id-jfsak.jpg");

  /* Full height */
  height: 100%;
  text-shadow: 1px 1px 3px black;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item{
  p{
    font-size: 12px!important;
  }
}
